$color:#ffffff;

@mixin fonts($size,$f-weight,$color){
    font-size:$size ;
    
    color: $color;
    font-weight: $f-weight;
}

@mixin flex ($f-direction,$j-content,$align){
    display: flex;
    flex-direction:$f-direction ;
    justify-content: $j-content;
    align-items: $align;
}
@mixin position($position,$left,$right,$top){
    position: $position;
    left: $left;
    right:$right ;
    top:$top
    
}

@mixin d-fonts {
    font-weight: 400;
    font-size: 14px;
    color: #6F767E;
}
@mixin width($width,$height){
    width: $width;
    height: $height;
    
}