@import "mixin";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato";
}
.main {
  width: 100%;

  //Navbar

  nav {
    padding: 24px;
    background: #ffffff;
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 9;
    @include flex(normal, space-between, center);

    .nav-logo {
      @include width(87px, 28px);
      overflow: hidden;

      img {
        @include width(100%, 100%);
        object-fit: contain;
      }
    }
    .dropbtn {
      position: relative;
      display: block;
      cursor: pointer;
    }

    .UserImg {
      position: relative;
      display: inline-block;

      label {
        display: flex;
        align-items: center;
        column-gap: 8px;

        .img {
          @include width(28px, 28px);
          display: contents;
        }

        span {
          font-weight: 200;
        }

        img {
          padding-left: 10px;
        }
      }
    }

    .dropdown-content {
      display: none;
      position: absolute;
      margin-top: 22px;
      background-color: #f1f1f1;
      min-width: 80px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      right: 15px;
      // z-index: 1;
    }

    //   Userimg dropdown

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {
      background-color: #ddd;
    }

    .dropcheck {
      position: absolute;
      visibility: hidden;
    }

    .dropcheck:checked ~ .dropdown-content {
      display: block;
    }
  }

  //Container

  .Content {
    width: 100%;
    display: flex;

    // side-bar

    .gg {
      width: 18%;

      .sidebar {
        @include width(18%, 100vh);
        background: #e9ebef;
        position: fixed;
        padding: 43px 8px 0px 8px;
        top: 86px;
        bottom: 0px;

        ul {
          gap: 15px;
          padding-left: 0px;
          list-style: none;
          @include flex(column, normal, center);
          font-weight: 600;
          .li-drop {
            span {
              margin-top: 7%;
              margin-right: 26%;
            }
          }

          li {
            font-weight: 600;
            font-size: 16px;
            input {
              display: none;
            }
            label {
              align-items: center;
              text-decoration: none;
              display: flex;
              color: #000;
              cursor: pointer;
            }
          }
          .drop-content {
            overflow: hidden;
            max-height: 0;
            transition: all 0.5s ease-out;
          }
          a {
            display: flex;
            gap: 8px;
            text-decoration: none;
            color: #000;
          }
          .drop-content {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
              padding: 0px 20px 5px 1px;
              &:hover {
                background: rgba(66, 86, 208, 0.22);
              }
              a {
                margin: 20px 0px 0px 20px;
                padding: 7px 20px 6px 0px;
              }
              a:hover {
                border-radius: 5px;
              }
            }
          }
        }
        .collapse :checked + .drop-content {
          display: block;
          max-height: 200px;
          margin-left: 12px;
        }

        li {
          width: 93%;
          transition: cubic-bezier(0.55, 0.055, 0.675, 0.19);

          cursor: pointer;
          padding: 10px 55px 10px 10px;

          font-style: normal;
          font-weight: 800;
          font-size: 16px;
          line-height: 19px;

          /* Neutral / 800 */

          color: #191d23;

          &:hover {
            border-radius: 4px;
          }

          img {
            transform: translateY(5px);
            padding-right: 10px;
          }
        }
      }
    }

    .content-heading {
      width: 83%;
      background: #f5f5f5;
      margin-top: 86px;

      .Heading {
        padding: 24px;
        @include flex(row, space-between, center);

        .text-ride {
          display: flex;
          align-items: center;

          h1 {
            padding-right: 10px;
          }
          span {
            padding-left: 10px;
          }
        }
        .introhead {
          h1 {
            font-size: 25px;
          }
        }

        .introDropdown {
          height: 40px;
          gap: 16px;
        }
        .monthOption {
          display: flex;
          align-items: center;

          .arrow {
            padding: 11px;
            background-color: #ffffff;
            border-radius: 5px;
          }
          .dates {
            .dropdown-container {
              input {
                outline: none;
              }
            }
          }
        }
        .monthOption {
          .dropbox {
            position: relative;
            display: block;
            cursor: pointer;
          }

          .dropdown-container {
            position: relative;
            display: inline-block;

            label {
              li {
                padding-right: 10px;
              }
              img {
                padding-left: 10px;
              }
            }
          }

          .dropbox-content {
            display: none;
            position: absolute;
            margin-top: 15px;
            background-color: #f1f1f1;
            min-width: 80px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            right: 15px;
            z-index: 0;
          }

          .dropbox-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
          }

          .dropbox-content a:hover {
            background-color: #ddd;
          }

          .dropDowncheck {
            position: absolute;
            visibility: hidden;
          }

          .dropDowncheck:checked ~ .dropbox-content {
            display: block;
          }

          .dropDownchec {
            position: absolute;
            visibility: hidden;
          }

          .dropDownchec:checked ~ .dropbox-content {
            display: block;
          }

          .dropDownche {
            position: absolute;
            visibility: hidden;
          }

          .dropDownche:checked ~ .dropbox-content {
            display: block;
            z-index: 2;
          }
        }
      }

      .calendar {
        background-color: #ffffff;
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 0px 7px 0px 10px;
        padding: 10px 7px;
        border-radius: 5px;
      }
      .month {
        display: flex;
        gap: 33px;
        align-items: center;
        cursor: pointer;
        // width: 146px;

        select {
          border: none;
          cursor: pointer;
        }
      }
      .month {
        span {
          @include d-fonts;
        }
      }
      .dates {
        display: flex;
        gap: 10px;

        input {
          border: none;
          cursor: pointer;
        }
      }

      .Cards {
        display: flex;
        margin: 0px 24px;
        column-gap: 24px;

        .mini-card {
          width: 88%;
          height: 116px;
          background-color: #ffffff;
          box-sizing: 10px;
          justify-content: center;
          border-radius: 15px;

          h5 {
            @include fonts(16px, 400, #878e95);
            line-height: 24px;
            margin: 24px 0px 12px 24px;
          }
          .details {
            margin: 0px 24px;
            display: flex;
            @include fonts(24px, 600, #050915);
            align-items: center;
            flex: none;
            order: 0;
            flex-grow: 0;
            gap: 5px;

            .card-flow {
              display: flex;
              align-items: center;
              background: #dcf2ea;
              border-radius: 4px;
              padding: 2px 6px 2px 0px;

              small {
                font-size: 12px;
              }
            }
          }
        }
      }
      .cards {
        background-color: $color;
        margin: 0px 24px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        padding-bottom: 40px;
        flex-wrap: wrap;

        .card-heading {
          @include flex(normal, space-between, center);
          padding: 0px 25px;
          margin: 20px 0px;
          background-color: $color;
          height: 62px;
          border-top-left-radius: 12px;
          border-top-right-radius: 12px;
          border-bottom: 0.5px solid #c0c0c0;

          h2 {
            padding-left: 20px;
            font-size: 20px;
            color: #4a5056;
          }
          .head {
            display: flex;
            flex-direction: row;

            p {
              padding: 6px 15px;

              img {
                margin-right: 10px;
                justify-content: space-between;
              }
            }
          }
        }
        .card-1 {
          display: flex;
          margin: 0px 24px;

          header {
            width: 100%;
            height: 56px;
            background: #ffffff;
            border-radius: 12px 12px 0px 0px;

            img {
              margin-right: 5px;
            }
          }
          ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            border: 0.5px solid #dddde4;
            margin-right: 14px;
            border-radius: 12px 12px 12px 12px;
            background: #fafafb;
            width: 100%;

            li {
              column-gap: 13px;
            }

            header {
              display: flex;
              align-items: center;
              padding-left: 15px;

              img {
                margin-right: 10px;
              }

              span {
                margin-left: 12px;
                border-radius: 8px;

                background: #f4f4f4;
              }
            }

            .li {
              justify-content: space-between;
              margin: 8px 11px;

              padding: 10px;
              align-items: center;
              border: 0.5px solid #dbdbdb;
              @include fonts(14px, 400, #6f766f);
              width: 94%;
              height: 60px;

              background-color: $color;

              border-radius: 6px;

              /* Inside auto layout */

              flex: none;
              order: 0;
              flex-grow: 0;
              line-height: 20px;
              display: flex;
              align-items: center;
              border-left: #e53a3a;

              span {
                display: flex;
                align-items: center;
                font-size: 17px;
                color: rgba(68, 68, 79, 1);

                img {
                  margin-left: 6px;
                }
              }
            }
            .li-serve {
              border-left: 2px solid #e53a3a;
            }
            .li-major {
              border-left: 2px solid #f3ba51;
            }
          }
        }
      }

      //row-3
      .geographics-section {
        @include flex(normal, space-between, center);

        padding: 38px 24px 18px 24px;
        .filtersection {
          display: flex;
          gap: 10px;

          .lineImg {
            display: none;
          }

          .btns {
            .btn-state {
              background-color: $color;
              color: #6a7383;

              padding: 12px 15px;
              border-radius: 5px;
              margin-right: 5px;
              border: none;
            }
            .btn-city {
              background-color: $color;
              padding: 12px 15px;
              border-radius: 5px;
              margin-right: 5px;
              color: #6a7383;
              border: none;
            }
            .btn-spacecenter {
              background-color: $color;
              border-radius: 5px;
              color: #6a7383;
              border: none;
              padding: 12px 20px;
            }

            .active {
              background-color: rgba(66, 86, 208, 1);
              color: $color;
            }
          }

          .btn-view {
            background-color: $color;
            padding: 10px;
            border: none;
            border: 1px solid #4256d0;

            border-radius: 4px;
            color: #4256d0;
          }
          .drop-btn{
            display: flex;

          }
          .sort-dropdown {
            position: relative;
            display: inline-block;
            padding: 9px;
            background-color: $color;
            border-radius: 5px;
            margin-right: 15px;
            .sort-dropbtn {
              position: relative;
              display: block;
              cursor: pointer;
            }
            label {
              span {
                font-size: 13px;
              }
            }
          }
          .sort-dropdowncontent {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 200px;
            z-index: 1;
          }
          .sort-dropdowncontent a {
            color: #6a7383;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
          }
          .sort-dropdowncontent a:hover {
            background-color: #ddd;
          }
          .sort-dropcheck {
            position: absolute;
            display: none;
          }
          span {
            padding-left: 8px;
          }
          .sort-dropcheck:checked ~ .sort-dropdowncontent {
            display: block;
          }
        }
      }

      // Table-Section

      .tablesection {
        background: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 0px rgba(63, 63, 68, 0.05);
        border-radius: 16px;
        //   width: 96%;
        margin: 5px 24px;
        display: flex;
        flex-direction: column;

        .table-name {
          padding: 24px;
          font-weight: 500;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
          font-size: 23px;
          line-height: 28px;
          letter-spacing: 0.06px;
          color: #000000;
          background-color: #f2f3fa;
        }
        div {
          table {
            border-collapse: collapse;
            width: 100%;

            tr {
              padding: 0px 24px;
              border-radius: 20px;
              th {
                font-weight: 500;
                font-size: 16px;
                line-height: 28px;
                color: #263238;
                padding-left: 24px;
              }

              td {
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                color: #000000;
                padding: 12px 27px;
              }
              td:last-child {
                text-align: left;
              }
            }
            tr:nth-child(odd) {
              background: #f9fafc;
              border-radius: 7px;
            }
            tr:first-child {
              background: rgba(242, 243, 250, 1);
            }
          }
        }
        td,
        th {
          text-align: left;
          padding: 16px 0px;

          .logo {
            display: flex;
            align-items: center;
            margin-top: 10px;
            column-gap: 10px;
            gap: 4px;

            .table-flow {
              display: flex;
              align-items: center;

              background-color: #dcf2ea;
              border-radius: 4px;
              padding: 2px 6px 2px 0px;

              color: #317159;
            }
          }
        }
        tr {
          tr:nth-child(even) {
            background: black;
          }
          td:nth-child(5) {
            text-align: center;
          }
        }
        button {
          display: flex;
          align-items: center;
          text-align: center;
          color: #434f5a;
          align-self: center;
          border: 1px solid #434f5a;
          border-radius: 8px;
          cursor: pointer;
          padding: 13px;
          img {
            margin-right: 11px;
          }
        }
      }
    }
  }
}

@media all and (max-width: 992px) {
  .main {
    nav{
    span{
      .fa{
       display: none; 
      }
    }
    }
    .Content {
      justify-content: center;

      .gg {
        display: none;

        .sidebar {
          display: none;
        }
      }

      .content-heading {
        margin-top: 88px;
        margin-left: 0px;
        width: 100%;

        .Heading {
          flex-wrap: wrap;
          justify-content: flex-start;
          gap: 10px;
          margin-top: 10px;
          padding: 24px;
        }
        .monthOption {
          .arrow {
            display: none;
          }
          .calendar{
            margin: 0px;
          }
        }
        .Cards {
          flex-wrap: wrap;
          justify-content: center;
          gap: 30px;
          margin: 0px;
          margin-top: 10px;

          .mini-card{
            width: 100%;
            margin: 0px 24px;
          }
        }
        .geographics-section {
          flex-wrap: wrap;

          .filtersection {
            width: 100%;
            flex-wrap: wrap;
            margin-top: 20px;
          }
          .btns {
            display: flex;
            gap: 5px;
            .btn-city {
              
            }
          }
        }
      }
      .tablesection {
        margin: 5px 0px;


        div {
          width: 100%;
          margin: 0px;

          table {
            th {
              padding: 0px;
            }
            th:last-child {
              padding-right: 15px;
            }
            td:last-child {
              padding-right: 15px;
            }
          }
        }
      }
    }
  }
}
