* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato";
}

.main {
  width: 100%;
}

.main nav {
  padding: 24px;
  background: #ffffff;
  position: fixed;
  left: 0px;
  right: 0px;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: normal;
          flex-direction: normal;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main nav .nav-logo {
  width: 87px;
  height: 28px;
  overflow: hidden;
}

.main nav .nav-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main nav .dropbtn {
  position: relative;
  display: block;
  cursor: pointer;
}

.main nav .UserImg {
  position: relative;
  display: inline-block;
}

.main nav .UserImg label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
          column-gap: 8px;
}

.main nav .UserImg label .img {
  width: 28px;
  height: 28px;
  display: contents;
}

.main nav .UserImg label span {
  font-weight: 200;
}

.main nav .UserImg label img {
  padding-left: 10px;
}

.main nav .dropdown-content {
  display: none;
  position: absolute;
  margin-top: 22px;
  background-color: #f1f1f1;
  min-width: 80px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 15px;
}

.main nav .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.main nav .dropdown-content a:hover {
  background-color: #ddd;
}

.main nav .dropcheck {
  position: absolute;
  visibility: hidden;
}

.main nav .dropcheck:checked ~ .dropdown-content {
  display: block;
}

.main .Content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .Content .gg {
  width: 18%;
}

.main .Content .gg .sidebar {
  width: 18%;
  height: 100vh;
  background: #e9ebef;
  position: fixed;
  padding: 43px 8px 0px 8px;
  top: 86px;
  bottom: 0px;
}

.main .Content .gg .sidebar ul {
  gap: 15px;
  padding-left: 0px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}

.main .Content .gg .sidebar ul .li-drop span {
  margin-top: 7%;
  margin-right: 26%;
}

.main .Content .gg .sidebar ul li {
  font-weight: 600;
  font-size: 16px;
}

.main .Content .gg .sidebar ul li input {
  display: none;
}

.main .Content .gg .sidebar ul li label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  cursor: pointer;
}

.main .Content .gg .sidebar ul .drop-content {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.main .Content .gg .sidebar ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  text-decoration: none;
  color: #000;
}

.main .Content .gg .sidebar ul .drop-content {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main .Content .gg .sidebar ul .drop-content li {
  padding: 0px 20px 5px 1px;
}

.main .Content .gg .sidebar ul .drop-content li:hover {
  background: rgba(66, 86, 208, 0.22);
}

.main .Content .gg .sidebar ul .drop-content li a {
  margin: 20px 0px 0px 20px;
  padding: 7px 20px 6px 0px;
}

.main .Content .gg .sidebar ul .drop-content li a:hover {
  border-radius: 5px;
}

.main .Content .gg .sidebar .collapse :checked + .drop-content {
  display: block;
  max-height: 200px;
  margin-left: 12px;
}

.main .Content .gg .sidebar li {
  width: 93%;
  -webkit-transition: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  cursor: pointer;
  padding: 10px 55px 10px 10px;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  /* Neutral / 800 */
  color: #191d23;
}

.main .Content .gg .sidebar li:hover {
  border-radius: 4px;
}

.main .Content .gg .sidebar li img {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  padding-right: 10px;
}

.main .Content .content-heading {
  width: 83%;
  background: #f5f5f5;
  margin-top: 86px;
}

.main .Content .content-heading .Heading {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .Content .content-heading .Heading .text-ride {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .Content .content-heading .Heading .text-ride h1 {
  padding-right: 10px;
}

.main .Content .content-heading .Heading .text-ride span {
  padding-left: 10px;
}

.main .Content .content-heading .Heading .introhead h1 {
  font-size: 25px;
}

.main .Content .content-heading .Heading .introDropdown {
  height: 40px;
  gap: 16px;
}

.main .Content .content-heading .Heading .monthOption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .Content .content-heading .Heading .monthOption .arrow {
  padding: 11px;
  background-color: #ffffff;
  border-radius: 5px;
}

.main .Content .content-heading .Heading .monthOption .dates .dropdown-container input {
  outline: none;
}

.main .Content .content-heading .Heading .monthOption .dropbox {
  position: relative;
  display: block;
  cursor: pointer;
}

.main .Content .content-heading .Heading .monthOption .dropdown-container {
  position: relative;
  display: inline-block;
}

.main .Content .content-heading .Heading .monthOption .dropdown-container label li {
  padding-right: 10px;
}

.main .Content .content-heading .Heading .monthOption .dropdown-container label img {
  padding-left: 10px;
}

.main .Content .content-heading .Heading .monthOption .dropbox-content {
  display: none;
  position: absolute;
  margin-top: 15px;
  background-color: #f1f1f1;
  min-width: 80px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 15px;
  z-index: 0;
}

.main .Content .content-heading .Heading .monthOption .dropbox-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.main .Content .content-heading .Heading .monthOption .dropbox-content a:hover {
  background-color: #ddd;
}

.main .Content .content-heading .Heading .monthOption .dropDowncheck {
  position: absolute;
  visibility: hidden;
}

.main .Content .content-heading .Heading .monthOption .dropDowncheck:checked ~ .dropbox-content {
  display: block;
}

.main .Content .content-heading .Heading .monthOption .dropDownchec {
  position: absolute;
  visibility: hidden;
}

.main .Content .content-heading .Heading .monthOption .dropDownchec:checked ~ .dropbox-content {
  display: block;
}

.main .Content .content-heading .Heading .monthOption .dropDownche {
  position: absolute;
  visibility: hidden;
}

.main .Content .content-heading .Heading .monthOption .dropDownche:checked ~ .dropbox-content {
  display: block;
  z-index: 2;
}

.main .Content .content-heading .calendar {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin: 0px 7px 0px 10px;
  padding: 10px 7px;
  border-radius: 5px;
}

.main .Content .content-heading .month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 33px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.main .Content .content-heading .month select {
  border: none;
  cursor: pointer;
}

.main .Content .content-heading .month span {
  font-weight: 400;
  font-size: 14px;
  color: #6F767E;
}

.main .Content .content-heading .dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.main .Content .content-heading .dates input {
  border: none;
  cursor: pointer;
}

.main .Content .content-heading .Cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 24px;
  -webkit-column-gap: 24px;
          column-gap: 24px;
}

.main .Content .content-heading .Cards .mini-card {
  width: 88%;
  height: 116px;
  background-color: #ffffff;
  -webkit-box-sizing: 10px;
          box-sizing: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 15px;
}

.main .Content .content-heading .Cards .mini-card h5 {
  font-size: 16px;
  color: #878e95;
  font-weight: 400;
  line-height: 24px;
  margin: 24px 0px 12px 24px;
}

.main .Content .content-heading .Cards .mini-card .details {
  margin: 0px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  color: #050915;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  gap: 5px;
}

.main .Content .content-heading .Cards .mini-card .details .card-flow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #dcf2ea;
  border-radius: 4px;
  padding: 2px 6px 2px 0px;
}

.main .Content .content-heading .Cards .mini-card .details .card-flow small {
  font-size: 12px;
}

.main .Content .content-heading .cards {
  background-color: #ffffff;
  margin: 0px 24px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding-bottom: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .Content .content-heading .cards .card-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: normal;
          flex-direction: normal;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 25px;
  margin: 20px 0px;
  background-color: #ffffff;
  height: 62px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom: 0.5px solid #c0c0c0;
}

.main .Content .content-heading .cards .card-heading h2 {
  padding-left: 20px;
  font-size: 20px;
  color: #4a5056;
}

.main .Content .content-heading .cards .card-heading .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main .Content .content-heading .cards .card-heading .head p {
  padding: 6px 15px;
}

.main .Content .content-heading .cards .card-heading .head p img {
  margin-right: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .Content .content-heading .cards .card-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 24px;
}

.main .Content .content-heading .cards .card-1 header {
  width: 100%;
  height: 56px;
  background: #ffffff;
  border-radius: 12px 12px 0px 0px;
}

.main .Content .content-heading .cards .card-1 header img {
  margin-right: 5px;
}

.main .Content .content-heading .cards .card-1 ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 0.5px solid #dddde4;
  margin-right: 14px;
  border-radius: 12px 12px 12px 12px;
  background: #fafafb;
  width: 100%;
}

.main .Content .content-heading .cards .card-1 ul li {
  -webkit-column-gap: 13px;
          column-gap: 13px;
}

.main .Content .content-heading .cards .card-1 ul header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
}

.main .Content .content-heading .cards .card-1 ul header img {
  margin-right: 10px;
}

.main .Content .content-heading .cards .card-1 ul header span {
  margin-left: 12px;
  border-radius: 8px;
  background: #f4f4f4;
}

.main .Content .content-heading .cards .card-1 ul .li {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 8px 11px;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.5px solid #dbdbdb;
  font-size: 14px;
  color: #6f766f;
  font-weight: 400;
  width: 94%;
  height: 60px;
  background-color: #ffffff;
  border-radius: 6px;
  /* Inside auto layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  border-left: #e53a3a;
}

.main .Content .content-heading .cards .card-1 ul .li span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  color: #44444f;
}

.main .Content .content-heading .cards .card-1 ul .li span img {
  margin-left: 6px;
}

.main .Content .content-heading .cards .card-1 ul .li-serve {
  border-left: 2px solid #e53a3a;
}

.main .Content .content-heading .cards .card-1 ul .li-major {
  border-left: 2px solid #f3ba51;
}

.main .Content .content-heading .geographics-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: normal;
          flex-direction: normal;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 38px 24px 18px 24px;
}

.main .Content .content-heading .geographics-section .filtersection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.main .Content .content-heading .geographics-section .filtersection .lineImg {
  display: none;
}

.main .Content .content-heading .geographics-section .filtersection .btns .btn-state {
  background-color: #ffffff;
  color: #6a7383;
  padding: 12px 15px;
  border-radius: 5px;
  margin-right: 5px;
  border: none;
}

.main .Content .content-heading .geographics-section .filtersection .btns .btn-city {
  background-color: #ffffff;
  padding: 12px 15px;
  border-radius: 5px;
  margin-right: 5px;
  color: #6a7383;
  border: none;
}

.main .Content .content-heading .geographics-section .filtersection .btns .btn-spacecenter {
  background-color: #ffffff;
  border-radius: 5px;
  color: #6a7383;
  border: none;
  padding: 12px 20px;
}

.main .Content .content-heading .geographics-section .filtersection .btns .active {
  background-color: #4256d0;
  color: #ffffff;
}

.main .Content .content-heading .geographics-section .filtersection .btn-view {
  background-color: #ffffff;
  padding: 10px;
  border: none;
  border: 1px solid #4256d0;
  border-radius: 4px;
  color: #4256d0;
}

.main .Content .content-heading .geographics-section .filtersection .drop-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .Content .content-heading .geographics-section .filtersection .sort-dropdown {
  position: relative;
  display: inline-block;
  padding: 9px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-right: 15px;
}

.main .Content .content-heading .geographics-section .filtersection .sort-dropdown .sort-dropbtn {
  position: relative;
  display: block;
  cursor: pointer;
}

.main .Content .content-heading .geographics-section .filtersection .sort-dropdown label span {
  font-size: 13px;
}

.main .Content .content-heading .geographics-section .filtersection .sort-dropdowncontent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  z-index: 1;
}

.main .Content .content-heading .geographics-section .filtersection .sort-dropdowncontent a {
  color: #6a7383;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.main .Content .content-heading .geographics-section .filtersection .sort-dropdowncontent a:hover {
  background-color: #ddd;
}

.main .Content .content-heading .geographics-section .filtersection .sort-dropcheck {
  position: absolute;
  display: none;
}

.main .Content .content-heading .geographics-section .filtersection span {
  padding-left: 8px;
}

.main .Content .content-heading .geographics-section .filtersection .sort-dropcheck:checked ~ .sort-dropdowncontent {
  display: block;
}

.main .Content .content-heading .tablesection {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 0px rgba(63, 63, 68, 0.05);
          box-shadow: 0px 0px 0px rgba(63, 63, 68, 0.05);
  border-radius: 16px;
  margin: 5px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .Content .content-heading .tablesection .table-name {
  padding: 24px;
  font-weight: 500;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 23px;
  line-height: 28px;
  letter-spacing: 0.06px;
  color: #000000;
  background-color: #f2f3fa;
}

.main .Content .content-heading .tablesection div table {
  border-collapse: collapse;
  width: 100%;
}

.main .Content .content-heading .tablesection div table tr {
  padding: 0px 24px;
  border-radius: 20px;
}

.main .Content .content-heading .tablesection div table tr th {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #263238;
  padding-left: 24px;
}

.main .Content .content-heading .tablesection div table tr td {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  padding: 12px 27px;
}

.main .Content .content-heading .tablesection div table tr td:last-child {
  text-align: left;
}

.main .Content .content-heading .tablesection div table tr:nth-child(odd) {
  background: #f9fafc;
  border-radius: 7px;
}

.main .Content .content-heading .tablesection div table tr:first-child {
  background: #f2f3fa;
}

.main .Content .content-heading .tablesection td,
.main .Content .content-heading .tablesection th {
  text-align: left;
  padding: 16px 0px;
}

.main .Content .content-heading .tablesection td .logo,
.main .Content .content-heading .tablesection th .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  gap: 4px;
}

.main .Content .content-heading .tablesection td .logo .table-flow,
.main .Content .content-heading .tablesection th .logo .table-flow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dcf2ea;
  border-radius: 4px;
  padding: 2px 6px 2px 0px;
  color: #317159;
}

.main .Content .content-heading .tablesection tr tr:nth-child(even) {
  background: black;
}

.main .Content .content-heading .tablesection tr td:nth-child(5) {
  text-align: center;
}

.main .Content .content-heading .tablesection button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #434f5a;
  -ms-flex-item-align: center;
      align-self: center;
  border: 1px solid #434f5a;
  border-radius: 8px;
  cursor: pointer;
  padding: 13px;
}

.main .Content .content-heading .tablesection button img {
  margin-right: 11px;
}

@media all and (max-width: 992px) {
  .main nav span .fa {
    display: none;
  }
  .main .Content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .Content .gg {
    display: none;
  }
  .main .Content .gg .sidebar {
    display: none;
  }
  .main .Content .content-heading {
    margin-top: 88px;
    margin-left: 0px;
    width: 100%;
  }
  .main .Content .content-heading .Heading {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 10px;
    margin-top: 10px;
    padding: 24px;
  }
  .main .Content .content-heading .monthOption .arrow {
    display: none;
  }
  .main .Content .content-heading .monthOption .calendar {
    margin: 0px;
  }
  .main .Content .content-heading .Cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
    margin: 0px;
    margin-top: 10px;
  }
  .main .Content .content-heading .Cards .mini-card {
    width: 100%;
    margin: 0px 24px;
  }
  .main .Content .content-heading .geographics-section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main .Content .content-heading .geographics-section .filtersection {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 20px;
  }
  .main .Content .content-heading .geographics-section .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
  }
  .main .Content .tablesection {
    margin: 5px 0px;
  }
  .main .Content .tablesection div {
    width: 100%;
    margin: 0px;
  }
  .main .Content .tablesection div table th {
    padding: 0px;
  }
  .main .Content .tablesection div table th:last-child {
    padding-right: 15px;
  }
  .main .Content .tablesection div table td:last-child {
    padding-right: 15px;
  }
}
/*# sourceMappingURL=style.css.map */